{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 title">
           <h1> {{ text.title  }} </h1>
            <input type="hidden" name="text_id" value="{{ text.text_id}}">
        </div>
        <div class="col-md-12 text">
            {{ text.text | raw}}
        </div>
        <div class="col-md-12 changes">
            <h2>Changes:</h2>
            {% if(diffs) %}
                {% for diff in diffs %}
                    {% include '_partials/texts/diff-item.twig' %}
                {% endfor %}
            {% else %}
                <small>There is no any changes</small>
            {% endif %}
        </div>
        <div class="col-md-12 highlights">
            <h2>Highlights:</h2>
            {% if(highlights) %}
                {% for highlight in highlights %}
                    {% include '_partials/texts/highlight-item.twig' %}
                {% endfor %}
            {% else %}
                <small>There is no any highlights</small>
            {% endif %}
        </div>
    </div>
{% endblock %}

