{% extends "layout.twig" %}
{% block content %}
    {% include '_partials/greeting.twig' %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path_for('dashboard') }}" class="list-group-item list-group-item-action active">
                    Dashboard
                </a>
                <a href="{{ path_for('repository.all') }}" class="list-group-item list-group-item-action">Repositories</a>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
{% endblock %}