{% extends "layout.twig" %}
{% block content %}
    <p class="d-inline h1">Recent repositories:</p>
    <a class="btn btn btn-link" href="#">Show more</a>
    {% if(repos) %}
        <div class="card-columns">
            {% for repo in repos %}
                {% include '_partials/homepage/repository_item.twig' %}
            {% endfor  %}
        </div>
    {% else %}
        <p class="text-center">No repositories :(</p>
    {% endif %}

    <p class="d-inline h1">Recent texts:</p>
    <a class="btn btn btn-link" href="#">Show more</a>
    {% if(texts) %}
        <div class="card-columns">
            {% for text in texts %}
                {% include '_partials/homepage/text_item.twig' %}
            {% endfor  %}
        </div>
    {% else %}
        <p class="text-center">No text :(</p>
    {% endif %}

{% endblock %}