{% extends "layout.twig" %}
{% block content %}
    {% include '_partials/greeting.twig' %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path_for('dashboard') }}" class="list-group-item list-group-item-action ">
                    Dashboard
                </a>
                <a href="{{ path_for('repository.all') }}" class="list-group-item list-group-item-action active">Repositories</a>
                <a href="" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-9">
            {% include '_partials/flash.twig' %}
            <div class="col-md-12 clearfix">
                <a href="{{ path_for('repository.create') }}" class="btn btn-success float-right">Create</a>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#private" role="tab" aria-controls="home" aria-selected="true">Private</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#public" role="tab" aria-controls="profile" aria-selected="false">Public</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="private" role="tabpanel" aria-labelledby="home-tab">
                    {% if(private) %}
                        {% for repository in private %}
                            {% include '_partials/repository/list-item.twig' %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-primary mt-3">
                            <span>There is no repositories</span>
                        </div>

                    {% endif %}

                </div>
                <div class="tab-pane fade" id="public" role="tabpanel" aria-labelledby="profile-tab">
                    {% if(public) %}
                        {% for repository in public %}
                            {% include '_partials/repository/list-item.twig' %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-primary mt-3">
                            <span>There is no repositories</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}