{% extends "layout.twig" %}
{% block content %}

    <div class="col-md-12 repository-header-title">
        <p class="d-inline h1">{{ repo.name }} :</p>
        {%  if(auth.check) %}
            {% if(isWatching) %}
                <a href="#" data-sub-id="{{ isWatching.id }}" class="btn float-right btn-outline-warning repo-unsubscribe"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
            {% else %}
                <a href="#" data-repo-id="{{ repo.id }}"  class="btn float-right btn-outline-warning repo-subscribe"><i class="fa fa-eye" aria-hidden="true"></i></a>
            {% endif %}
        {%  endif %}
    </div>

    {% if(texts) %}
        <div class="card-columns">
        {% for text in texts %}
            {% include '_partials/repository/view-item.twig' %}
        {% endfor %}
        </div>
    {% else %}
        <span>There is no texts in this repo :(</span>
    {% endif %}
{% endblock %}