{% extends "layout.twig" %}
{% block content %}

    <div class="col-md-12">
        <p class="d-inline h1">{{ repo.name }} :</p>
        <a href="#" data class="btn float-right btn-outline-warning"><i class="fa fa-eye" aria-hidden="true"></i></a>
    </div>

    {% if(texts) %}
        <div class="card-columns">
        {% for text in texts %}
            {% include '_partials/repository/view-item.twig' %}
        {% endfor %}
        </div>
    {% else %}
        <span>There is no texts in this repo :(</span>
    {% endif %}
{% endblock %}