main {
    margin-bottom: 30px;
    padding-top: 20px;
}

.repository-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 15px;
}

/*.repository-item__title, .repository-item__desc {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
/*}*/

.menu-popover {
    line-height: 0;
    padding: 6px 8px;
}

.repository-item__title small {
    margin-right: 10px;
}

.repository-item strong {
    float: left;
    width: calc(100% - 195px);
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 250px; /* Margin bottom by footer height */
}
.blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.medium-editor-element {
    border: 1px solid #ced4da;
    min-height: 200px;
}

.changes-item {
    margin-top: 10px;
}

.selectionSharer a.action {
    text-indent: initial;
}
a.action {
    color: #fff;
}

.ChangeReplace ins, .ChangeDelete ins, .ChangeInsert ins {
    background: #b8fdba;
    text-decoration: none;
}

.ChangeReplace del, .ChangeDelete del, .ChangeInsert del {
    background: #fdc8c8;
}

.Differences img {
    max-width: 200px;
}

img {
    max-width: 100%;
}

div {
    word-wrap: break-word;
}

.changes-item table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
}

#fof .positioned{display:block; width:100%; text-align: center}
#fof .hgroup{margin-bottom:50px;}
#fof .hgroup h1{}
#fof .hgroup h2{}
#fof img{margin-bottom:25px;}
#fof p{display:block; margin:0 0 25px 0; padding:0; font-size:16px;}
#fof #respond input{width:200px; padding:5px; border:1px solid #CCCCCC;}
#fof #respond #submit{width:auto;}

.post-item-avatar {
    overflow: hidden;
    /*margin-left: 20px;*/
    float: left;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: rgb(242, 242, 240);
}
.nav-item .dropdown-toggle::after {
    top: 10px;
    position: relative;
}


.menu-wrap {
    justify-content: space-between;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.nav-item .dropdown-toggle::after {
    color: #000;
}

.dropdown span {
    position: relative;
    top: 8px;
    left: 3px;
    color: #000;
}



.facebook-login:hover {
    opacity: 0.7;
    color: #fff;
}

.facebook-login {
    background: #3B5998;
    color: white;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 6px 18px;
    border-radius: 50%;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    font-size: 1rem;
}

.btn-facebook:hover {
    background-color: #3b5998c7;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.settings {
    text-align: center;
    padding-bottom: 10px;
}

.settings .post-item-avatar {
    float: none;
    margin: 0;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.profile {
    align-items: center;
}

.Left span, .Right span {
    display: none;
}

@media only screen and (max-width: 480px) {
    .flex-nowrap {
        flex-wrap: wrap !important;
    }

    .blog-header > .row > div {
        justify-content: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        text-align: right;
        margin-bottom: 10px;
    }
}