<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ path_for('repository.view', {'id': repo.repo_id }) }}" >{{ repo.name }}</a></h5>
        <p class="card-text">{{ repo.description }}</p>
        <p class="card-text"><small class="text-muted">Last updated {{ repo.updated_at | timeDiff }}</small></p>
    </div>
</div>