<div class="card changes-item">
    <div class="card-body">
        <h5 class="card-title"> created {{ highlight.created_at | timeDiff }}</h5>
        <p class="card-text">{{ highlight.highlight | raw }}</p>
    </div>
</div>