{% extends "layout.twig" %}
{% block content %}
<section id="fof" class="clear">
    <img src="/images/404.png" alt="not found" />
    <div class="positioned">

        <div class="hgroup">
            <h1>Congratulations</h1>
            <h2>You Found Our 404 Error Page</h2>
        </div>
    </div>
</section>
{% endblock %}