<div class="card changes-item">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ path_for('text.view', {'id' : highlight.text_id}) }}"> {{ highlight.text.title }}</a></h5>
        <p class="card-text">{{ highlight.highlight | raw }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted"><b>Created</b> {{ highlight.created_at | timeDiff }}</small>
    </div>
</div>